body {
    background-color: #efefef;
}
  
.page-title {
    text-align: center;
    font-family: Arial, serif;
    color: #d40089;
    font-weight: 600;
    font-size: 22pt;
    margin-left: 75px;
}

.content-titles {
    text-align: center;
    margin: 25px 0;
}
.note-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

textarea {
    font-family: Arial, Helvetica, Tahoma, Verdana;
    font-size: 16px;
    height: 400px;
    text-align: start;
    width: 580px;
    color: #111111;
    margin: 0 10px 0 10px;
    padding: 10px;
    border-radius: 8px;
    border-color: #dadada;
}

.btn {
    font-family: Arial, Helvetica, Tahoma, Verdana;
    padding: 10px 15px 10px 15px ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    display: block;
    width: 600px;
    margin-top: 5px;
}

.btn-light{
    background-color: #03c8d2;
}

.btn-default{
    background-color: #d40089;
}

.node-label{
    text-align: center;
    font-family: Arial, serif;
    font-weight: 600;
    font-size: 11pt;
    border: 1px solid #1da900;
    padding: 4px;
    color: #3bc700;
    background-color: #FFF;
    margin-left: 10px;
}